.primaryContainer {
    height: auto;
    margin: 50px auto;
    min-height: 100%;
    width: 850px;
}

#Layer_26_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 100px;
    margin-left: 5.542279%;
    clear: none;
}

#Layer_2_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin-top: 29px;
    margin-left: 0.71507353%;
    clear: none;
}

#Layer_3_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    margin-top: 21px;
    margin-left: 0.56%;
    clear: none;
}

#Layer_4_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 28;
    margin-top: 16px;
    margin-left: 51.295956%;
    clear: both;
}

#Layer_1_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 25;
    margin-top: 22px;
    margin-left: 7.523897%;
    clear: both;
}

#DCaxiL_png {
    float: left;
    width: auto;
    max-width: 21.014706%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin-top: 53px;
    margin-left: 0.66727941%;
    clear: none;
}

#Layer_5_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin-top: 18px;
    margin-left: 4.8125%;
    clear: none;
}

#Layer_11_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 18px;
    margin-left: 3.3125%;
    clear: none;
}

#Layer_10_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 18px;
    margin-left: 7.523897%;
    clear: both;
}

#Layer_9_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 18px;
    margin-left: 3.080882%;
    clear: none;
}

#Garden_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 7px;
    margin-left: 2.378676%;
    clear: none;
}

#Layer_13_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 7px;
    margin-left: 1.979779%;
    clear: none;
}

#Clip_Gro1_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 7px;
    margin-left: 7.876838%;
    clear: both;
    margin-right: 0px;
}

#scPQjK_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin-top: 11px;
    margin-left: 2.801471%;
    clear: none;
}

#Layer_17_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    clear: none;
    margin-top: 14px;
    margin-left: 1.389706%;
}

#Layer_15_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 14px;
    margin-left: 2.007353%;
    clear: none;
}

#Layer_18_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 14px;
    margin-left: 7.876838%;
    clear: both;
}

#Layer_16_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin: 36px 0px 0px 2.272059%;
    clear: none;
}

#Layer_20_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin-top: 26px;
    margin-left: 2.5%;
    clear: none;
}

#Layer_27_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin-top: 5px;
    margin-left: 3.384191%;
    clear: none;
}

#Layer_19_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 5px;
    margin-left: 7.876838%;
    clear: both;
}

#Layer_21_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin-top: 8px;
    margin-left: 0.95772059%;
    clear: none;
}

#Layer_24_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 8px;
    margin-left: 7.876838%;
    clear: both;
}

#Layer_22_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 8px;
    margin-left: 0.95772059%;
    clear: none;
}

#Layer_23_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 8px;
    margin-left: 0.91360294%;
    clear: none;
}

#Layer_29_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 0;
    clear: none;
    margin-left: 12.529412%;
    margin-top: 16px;
}

#Layer_25_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 18px;
    margin-left: 0.91544118%;
    clear: none;
}

#Layer_28_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 12px;
    margin-left: 1.086397%;
    clear: none;
}

@media only screen and (max-width: 768px) {
    #Layer_29_png {
        margin-top: 18px;
        margin-left: 0%;
        clear: none;
        width: 32.966362%;
    }

    #Layer_24_png {
        margin-top: 3px;
        margin-left: 0%;
        clear: both;
        width: 22.463604%;
    }

    #Layer_19_png {
        margin-top: 9px;
        margin-left: 0px;
        clear: both;
        width: 24.970612%;
        position: relative;
        top: 0px;
        left: 0px;
    }

    #Layer_27_png {
        margin-top: 9px;
        margin-left: 4.790216%;
        clear: none;
        position: relative;
        top: 0px;
        left: 0px;
        width: 46.95949%;
        float: left;
        margin-right: 0px;
    }

    #Layer_18_png {
        margin-top: 13px;
        margin-left: 1.34375px;
        clear: both;
        width: 22.956416%;
        position: relative;
        top: 0px;
        left: 0px;
    }

    #Layer_15_png {
        clear: none;
        width: 26.975766%;
        float: left;
        margin-right: 0px;
        margin-top: 13px;
        margin-left: 1.20038%;
    }

    #Clip_Gro1_png {
        margin-top: 3px;
        margin-left: 0%;
        clear: both;
        margin-right: 0px;
        float: left;
        width: 21.979835%;
    }

    #Layer_13_png {
        margin-top: 3px;
        margin-left: 2.836189%;
        clear: none;
        width: 23.989511%;
    }

    #Garden_png {
        margin-top: 3px;
        margin-left: 1.647979%;
        clear: none;
        width: 23.989511%;
    }

    #Layer_17_png {
        clear: none;
        float: left;
        margin-right: 0px;
        width: 21.973054%;
        margin-top: 13px;
        margin-left: 1.195859%;
    }

    #Layer_10_png {
        margin-top: 3px;
        margin-left: 0%;
        clear: both;
        width: 22.988064%;
    }

    #Layer_5_png {
        clear: none;
        margin-top: 3px;
        margin-left: 4.35392%;
        width: 15.487386%;
    }

    #Layer_11_png {
        margin-top: 3px;
        margin-left: 2.864183%;
        clear: none;
        width: 28.488109%;
    }

    #Layer_1_png {
        margin-top: 3px;
        margin-left: 0%;
        clear: both;
        width: 22.988064%;
    }

    #Layer_3_png {
        clear: none;
        margin-top: 3px;
        margin-left: 1.984809%;
        width: 29.984628%;
    }

    #Layer_2_png {
        margin-top: 11px;
        margin-left: 1.605028%;
        clear: none;
        width: 20.976128%;
    }

    #DCaxiL_png {
        margin-top: 11px;
        margin-left: 1.455828%;
        clear: none;
        width: 20.976128%;
        max-width: none;
    }

    #Layer_9_png {
        margin-top: 3px;
        margin-left: 2.545438%;
        clear: none;
        width: 22.988064%;
    }

    #Layer_20_png {
        margin-top: 31px;
        margin-left: 1.263677%;
        clear: none;
        width: 21.973054%;
        margin-right: 0px;
        float: left;
    }

    #scPQjK_png {
        margin-top: 3px;
        margin-left: 2.81671%;
        clear: none;
        width: 22.976761%;
    }

    #Layer_26_png {
        margin-top: 103px;
        margin-left: 5.429967%;
        clear: none;
        width: 23.989511%;
    }

    #Layer_4_png {
        margin-top: 20px;
        margin-left: 45.578262%;
        clear: both;
        width: 18.984537%;
    }

    #Layer_28_png {
        margin-top: 18px;
        margin-left: 1.279501%;
        clear: none;
        width: 31.969437%;
    }

    #Layer_25_png {
        margin-top: 18px;
        margin-left: 1.279501%;
        clear: none;
        width: 31.969437%;
    }

    #Layer_23_png {
        margin-top: 3px;
        margin-left: 1.001447%;
        clear: none;
        width: 29.973325%;
    }

    #Layer_16_png {
        clear: none;
        width: 23.476354%;
        float: left;
        margin-right: 0px;
        margin-top: 27px;
        margin-left: 1.473913%;
    }

    #Layer_22_png {
        margin-top: 3px;
        margin-left: 0.99918618%;
        clear: none;
        width: 22.463604%;
    }

    #Layer_21_png {
        margin-top: 3px;
        margin-left: 0.99918618%;
        clear: none;
        width: 21.950448%;
    }

    .primaryContainer {
        width: 90%;
    }
}

@media only screen and (max-width: 549px) {
    #Layer_29_png {
        margin-top: 4px;
        margin-left: 0%;
        clear: none;
        width: 48.773872%;
        height: auto;
    }

    #Layer_28_png {
        margin-top: 4px;
        margin-left: 1.911048%;
        clear: none;
        width: 49.305556%;
        height: auto;
    }

    #Layer_25_png {
        width: 48.773872%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        height: auto;
    }

    #Layer_24_png {
        margin-top: 6px;
        margin-left: 2.615017%;
        clear: none;
        width: 48.573134%;
        height: auto;
    }

    #Layer_23_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 48.773872%;
        height: auto;
    }

    #Layer_21_png {
        margin-top: 6px;
        margin-left: 6.174045%;
        clear: none;
        width: 41.384549%;
        height: auto;
    }

    #Layer_22_png {
        margin-top: 6px;
        margin-left: 0.85177951%;
        clear: both;
        width: 47.922092%;
        height: auto;
    }

    #Layer_19_png {
        width: 40.359158%;
        margin-top: 6px;
        margin-left: 17.78125px;
        clear: none;
        height: auto;
    }

    #Layer_27_png {
        width: 98.844401%;
        margin-top: 6px;
        margin-left: 0.85177951%;
        clear: both;
        height: auto;
    }

    #Layer_20_png {
        width: 48.773872%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        height: auto;
    }

    #Layer_18_png {
        width: 43.608941%;
        margin-top: 6px;
        margin-left: 11.546875px;
        clear: none;
        height: auto;
    }

    #Layer_15_png {
        width: 48.773872%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        height: auto;
    }

    #Layer_17_png {
        width: 42.724609%;
        margin-top: 6px;
        margin-left: 3.748915%;
        clear: none;
        height: auto;
    }

    #Layer_16_png {
        width: 48.773872%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        height: auto;
    }

    #Clip_Gro1_png {
        width: 36.17079%;
        margin-top: 6px;
        margin-left: 8.555773%;
        clear: none;
        height: auto;
    }

    #Layer_13_png {
        width: 48.795573%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        height: auto;
    }

    #Garden_png {
        width: 48.399523%;
        margin-top: 15px;
        margin-left: 2.804905%;
        clear: none;
        height: auto;
    }

    #Layer_9_png {
        width: 48.773872%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        height: auto;
    }

    #Layer_10_png {
        width: 48.616536%;
        margin-top: 6px;
        margin-left: 2.609592%;
        clear: none;
        height: auto;
    }

    #scPQjK_png {
        width: 48.773872%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        height: auto;
    }

    #Layer_5_png {
        width: 35.78559%;
        margin-top: 6px;
        margin-left: 8.474392%;
        clear: none;
        height: auto;
    }

    #Layer_11_png {
        width: 48.773872%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        height: auto;
    }

    #Layer_1_png {
        width: 35.183377%;
        margin-top: 6px;
        margin-left: 9.657118%;
        clear: none;
        height: auto;
    }

    #Layer_3_png {
        width: 48.795573%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        height: auto;
    }

    #DCaxiL_png {
        width: 48.095703%;
        margin-top: 13px;
        margin-left: 2.804905%;
        clear: none;
        height: auto;
    }

    #Layer_2_png {
        width: 48.773872%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        height: auto;
    }

    #Layer_4_png {
        width: 36.235894%;
        margin-top: 6px;
        margin-left: 8.387587%;
        clear: none;
        height: auto;
    }

    #Layer_26_png {
        width: 57.562934%;
        margin-top: 39px;
        margin-left: 36.71875%;
        clear: both;
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    #Layer_26_png {
        margin-top: 40px;
        margin-left: 13.671875%;
        clear: both;
        width: 69.99783%;
    }

    #Layer_4_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #DCaxiL_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_5_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_10_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Garden_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Clip_Gro1_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_17_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_18_png {
        margin-top: 6px;
        margin-left: 0px;
        clear: both;
        width: 100%;
    }

    #Layer_27_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 98.844401%;
    }

    #Layer_19_png {
        margin-top: 6px;
        margin-left: 0px;
        clear: both;
        width: 100%;
    }

    #Layer_22_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_20_png {
        margin-top: 10px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_15_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_16_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_13_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_11_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_3_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_23_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_21_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_25_png {
        margin-top: 6px;
        margin-left: 1.041667%;
        clear: both;
        width: 100%;
        height: auto;
    }

    #Layer_24_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
        height: auto;
    }

    #Layer_9_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #scPQjK_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_2_png {
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Layer_28_png {
        margin-top: 6px;
        margin-left: 1.041667%;
        clear: both;
        width: 100%;
        height: auto;
    }

    #Layer_29_png {
        width: 100%;
        height: auto;
        margin-top: 5px;
        margin-left: 1.546224%;
        clear: none;
    }

    #Layer_1_png {
        width: 100%;
        margin-top: 6px;
        margin-left: 0%;
        clear: both;
    }
}

