.primaryContainer {
    height: auto;
    margin: 50px auto;
    min-height: 100%;
    width: 1024px;
}

#text {
    float: left;
    font-size: 3em;
    width: 87.734985%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.129456%;
    margin-top: 86px;
    clear: none;
    min-height: 0px;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 87.736511%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.256104%;
    margin-top: 46.75px;
    clear: both;
    min-height: 0px;
}

#textspan2 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan4 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan3 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
}

#image {
    float: left;
    width: auto;
    max-width: 60.359192%;
    height: auto;
    margin-left: 19.628906%;
    margin-top: 41px;
    clear: both;
    color: rgb(0, 0, 0);
}

#image1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 14.11438%;
    margin-top: 55.875px;
    clear: both;
    color: rgb(0, 0, 0);
}

#text2 {
    float: left;
    font-size: 1em;
    width: 87.736511%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.182861%;
    margin-top: 59.125px;
    clear: both;
    min-height: 0px;
}

#textspan6 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan7 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    text-indent: 0px;
}

#text3 {
    float: left;
    font-size: 1em;
    width: 87.734985%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.259155%;
    margin-top: 52.875px;
    clear: both;
    min-height: 0px;
}

#textspan8 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan10 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
}

#textspan9 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan11 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#text4 {
    float: left;
    font-size: 1em;
    width: 87.736511%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.129456%;
    margin-top: 63.0625px;
    clear: both;
    min-height: 224px;
}

#textspan12 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan13 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan16 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan15 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
}

#image2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 24.162292%;
    margin-top: 33px;
    clear: both;
    color: rgb(0, 0, 0);
}

#textspan14 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 500;
}

#text5 {
    float: left;
    font-size: 1em;
    width: 87.736511%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.204224%;
    margin-top: 32px;
    clear: both;
    min-height: 0px;
}

#textspan17 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan19 {
    float: none;
    font-size: 1.1em;
    line-height: 1em;
}

#textspan20 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan22 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan21 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
}

#textspan24 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan23 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
}

#text6 {
    float: left;
    font-size: 1em;
    width: 87.736511%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.204224%;
    margin-top: 39px;
    clear: both;
    min-height: 0px;
}

#textspan25 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan26 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#text7 {
    float: left;
    font-size: 1em;
    width: 87.734985%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.204224%;
    margin-top: 60px;
    clear: both;
    min-height: 0px;
}

#textspan29 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan28 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#image3 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 7.331848%;
    margin-top: 147px;
    clear: both;
    color: rgb(0, 0, 0);
}

#text8 {
    float: left;
    font-size: 1em;
    width: 87.736511%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.259155%;
    margin-top: 48px;
    clear: both;
    min-height: 0px;
    background-color: rgb(227, 227, 227);
    border: 20px solid rgb(227, 227, 227);
}

#text9 {
    float: left;
    font-size: 1em;
    width: 87.736511%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.072998%;
    margin-top: 51px;
    clear: both;
    min-height: 228px;
}

#textspan31 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#image4 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 14.0625%;
    margin-top: 55px;
    clear: none;
    color: rgb(0, 0, 0);
}

#text10 {
    float: left;
    font-size: 1em;
    width: 87.736511%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.167603%;
    margin-top: 54.5px;
    clear: both;
    min-height: 0px;
    background-color: rgb(227, 227, 227);
    border: 20px solid rgb(227, 227, 227);
}

#textspan33 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan32 {
    float: none;
    font-size: 1.1em;
    line-height: 1em;
}

#text11 {
    float: left;
    font-size: 1em;
    width: 87.776184%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.129456%;
    margin-top: 47.5px;
    clear: both;
    min-height: 155px;
}

#textspan34 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#text12 {
    float: left;
    font-size: 1em;
    width: 87.776184%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.129456%;
    margin-top: 53.5px;
    clear: both;
    min-height: 0px;
}

#textspan35 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan36 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#text13 {
    float: left;
    font-size: 1em;
    width: 87.776184%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.204224%;
    margin-top: 38px;
    clear: both;
    min-height: 192px;
}

#textspan40 {
    float: none;
    font-size: 1.1em;
    line-height: 1em;
}

#textspan39 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan37 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan41 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#text14 {
    float: left;
    font-size: 1em;
    width: 87.776184%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.262207%;
    margin-top: 36px;
    clear: both;
    min-height: 0px;
    background-color: rgb(227, 227, 227);
    border: 20px solid rgb(227, 227, 227);
}

#textspan42 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#image7 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 28.981018%;
    margin-top: 38px;
    clear: both;
    color: rgb(0, 0, 0);
}

#text15 {
    float: left;
    font-size: 1em;
    width: 87.695313%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.262207%;
    margin-top: 45px;
    clear: both;
    min-height: 420px;
}

#textspan47 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#text16 {
    float: left;
    font-size: 1em;
    width: 53.689575%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: -87.776184%;
    margin-top: 54px;
    clear: none;
    min-height: 0px;
}

#textspan50 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan51 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan43 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan46 {
    float: none;
    font-size: 1.1em;
    line-height: 1em;
}

#text17 {
    float: left;
    font-size: 1em;
    width: 87.776184%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.129456%;
    margin-top: 51px;
    clear: both;
    min-height: 331px;
}

#textspan54 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan55 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan52 {
    float: none;
    font-size: 2em;
    line-height: 1.4em;
}

#image9 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 7.887268%;
    margin-top: 38px;
    clear: both;
    color: rgb(0, 0, 0);
}

#image8 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 64.120483%;
    margin-top: 97px;
    clear: both;
    color: rgb(0, 0, 0);
}

#text18 {
    float: left;
    font-size: 1em;
    width: 87.776184%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.210327%;
    margin-top: 40px;
    clear: both;
    min-height: 470px;
}

#textspan57 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan56 {
    float: none;
    font-size: 2em;
    line-height: 1.4em;
}

#textspan60 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan58 {
    float: none;
    font-size: 1.1em;
    line-height: 1.4em;
}

#textspan59 {
    float: none;
    font-size: 1.1em;
    line-height: 1.4em;
}

#image10 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 28.688049%;
    margin-top: 28.5px;
    clear: both;
    color: rgb(0, 0, 0);
}

#text19 {
    float: left;
    font-size: 1em;
    width: 87.695313%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.112671%;
    margin-top: 38px;
    clear: both;
    min-height: 488px;
}

#textspan65 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan66 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#text20 {
    float: left;
    font-size: 1em;
    width: 87.776184%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    word-wrap: break-word;
    margin-left: 6.129456%;
    margin-top: 48.5px;
    clear: both;
    min-height: 467px;
}

#textspan72 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan75 {
    float: none;
    font-size: 1em;
    line-height: 1.1em;
}

#textspan76 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan73 {
    float: none;
    font-size: 1.1em;
    line-height: 1.4em;
}

#textspan74 {
    float: none;
    font-size: 1.1em;
    line-height: 1.4em;
}

#textspan78 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan77 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-style: italic;
}

#textspan68 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan67 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
}

#textspan70 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan69 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
}

#textspan64 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan63 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-style: italic;
}

#textspan62 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan61 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-style: italic;
}

#textspan49 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
}

#textspan48 {
    float: none;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
}

#textspan1 {
    float: none;
    font-size: 2em;
    line-height: 1.4em;
}

#image5 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 14.656067%;
    margin-top: 67.5px;
    clear: both;
    color: rgb(0, 0, 0);
}

#image6 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 8.175659%;
    margin-top: 97.5px;
    clear: none;
    color: rgb(0, 0, 0);
}

#textspan30 {
    float: none;
    font-size: 1.1em;
    line-height: 1em;
}

#textspan {
    float: none;
    font-size: 2em;
    line-height: 1.4em;
}

#textspan5 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan27 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan38 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan45 {
    float: none;
    font-size: 1.1em;
    line-height: 1em;
}

#textspan53 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

#textspan71 {
    float: none;
    font-size: 2em;
    line-height: 1em;
}

@media only screen and (max-width: 951px) {
   .primaryContainer {
        width: 90%;
   }

   #text12 {
        margin-top: 93.5px;
        margin-left: 6.119357%;
        clear: both;
        width: 87.761963%;
   }

   #text13 {
        margin-top: 85px;
        margin-left: 6.066415%;
        clear: both;
        width: 87.761963%;
   }

   #text14 {
        margin-top: 82px;
        margin-left: 6.115705%;
        clear: both;
        width: 87.761963%;
   }

   #image7 {
        margin-top: 47px;
        margin-left: 26.211731%;
        clear: both;
        width: 47.990468%;
   }

   #text15 {
        margin-top: 43px;
        margin-left: 6.611864%;
        clear: both;
        width: 87.676858%;
   }

   #text16 {
        margin-top: 202px;
        margin-left: -79.199693%;
        clear: both;
        width: 53.673326%;
   }

   #image8 {
        margin-top: 43px;
        margin-left: 32.475309%;
        clear: both;
        width: 34.992872%;
   }

   #text17 {
        margin-top: 56px;
        margin-left: 6.18993%;
        clear: none;
        width: 87.761963%;
   }

   #text {
        width: 87.717283%;
        height: auto;
        min-height: 0px;
   }

   #text1 {
        width: 87.717283%;
        margin-top: 47px;
        margin-left: 6.125402%;
        clear: both;
   }

   #text2 {
        width: 87.717283%;
   }

   #text3 {
        width: 87.717283%;
   }

   #text4 {
        width: 87.717283%;
   }

   #text5 {
        width: 87.717283%;
        margin-top: 24.5px;
        margin-left: 6.128594%;
        clear: both;
   }

   #text6 {
        width: 87.717283%;
   }

   #text7 {
        width: 87.717283%;
   }

   #text8 {
        width: 87.717283%;
   }

   #text9 {
        width: 87.717283%;
   }

   #text10 {
        width: 87.717283%;
        margin-top: 60.5px;
        margin-left: 6.166822%;
        clear: both;
   }

   #text11 {
        width: 87.761963%;
   }

   #text18 {
        width: 87.761963%;
        margin-top: 485.125px;
        margin-left: -84.248688%;
        clear: none;
   }

   #text19 {
        width: 87.676858%;
        margin-top: 45.625px;
        margin-left: 5.969511%;
        clear: both;
   }

   #text20 {
        width: 87.761963%;
        margin-top: 54px;
        margin-left: 6.61058%;
        clear: both;
   }

   #image5 {
        margin-top: 74px;
        margin-left: 6.206985%;
        clear: both;
        width: 34.98649%;
   }

   #image6 {
        margin-top: 103px;
        margin-left: 16.503277%;
        clear: none;
        width: 34.988617%;
   }

   #image9 {
        margin-top: 43px;
        margin-left: 10.027247%;
        clear: none;
        height: auto;
        width: 79.99617%;
        max-width: none;
   }

   #image10 {
        margin-top: 56px;
        margin-left: 21.054291%;
        clear: both;
        width: 59.994468%;
   }

   #image4 {
        margin-top: 84px;
        margin-left: 4.288889%;
        clear: none;
        width: 37.982171%;
   }

   #image3 {
        margin-top: 141px;
        margin-left: 6.263578%;
        clear: both;
        width: 44.988405%;
   }

   #image1 {
        margin-top: 26px;
        margin-left: 10.217792%;
        clear: both;
        width: 79.985532%;
   }

   #image2 {
        margin-top: 31px;
        margin-left: 10.028166%;
        clear: both;
        width: 79.985532%;
        max-width: none;
   }

   #image {
        width: 87.182852%;
        margin-top: 35px;
        margin-left: 19.720857%;
        clear: both;
        height: auto;
   }
}

@media only screen and (max-width: 585px) {
   #text20 {
        margin-top: 54px;
        margin-left: 6.609093%;
        clear: both;
        width: 87.754801%;
   }

   #text19 {
        margin-top: 45.625px;
        margin-left: 5.9651%;
        clear: both;
        width: 87.670021%;
   }

   #text18 {
        margin-top: 47.125px;
        margin-left: 5.770776%;
        clear: both;
        width: 87.754801%;
   }

   #image9 {
        margin-top: 40px;
        margin-left: 14.835312%;
        clear: both;
        width: 70.662391%;
        height: auto;
   }

   #text17 {
        margin-top: 260px;
        margin-left: -72.593186%;
        clear: none;
        width: 87.754801%;
   }

   #image8 {
        margin-top: 28px;
        margin-left: 21.052944%;
        clear: both;
        width: 57.731579%;
        height: auto;
   }

   #text15 {
        margin-top: 43px;
        margin-left: 6.609093%;
        clear: both;
        width: 87.670021%;
   }

   #image7 {
        margin-top: 47px;
        margin-left: 26.210826%;
        clear: both;
        width: 47.981864%;
   }

   #text14 {
        margin-top: 82px;
        margin-left: 6.110518%;
        clear: both;
        width: 87.754801%;
   }

   #text13 {
        margin-top: 85px;
        margin-left: 6.066002%;
        clear: both;
        width: 87.754801%;
   }

   #text12 {
        margin-top: 33.5px;
        margin-left: 6.116453%;
        clear: both;
        width: 87.754801%;
   }

   #text16 {
        margin-top: 300px;
        margin-left: -173.154084%;
        clear: none;
        width: 53.665819%;
   }

   #image6 {
        margin-top: 57px;
        margin-left: 20.589981%;
        clear: both;
        width: 60.544067%;
        height: auto;
   }

   #text {
        width: 87.714254%;
        height: auto;
        min-height: 0px;
   }

   #image {
        width: 87.522577%;
        margin-top: 28px;
        margin-left: 5.875631%;
        clear: both;
        height: auto;
        max-width: none;
   }

   #text1 {
        width: 87.714254%;
        margin-top: 32px;
        margin-left: 6.126286%;
        clear: both;
   }

   #image1 {
        width: 79.977146%;
   }

   #text2 {
        width: 87.714254%;
   }

   #text3 {
        width: 87.714254%;
   }

   #text4 {
        width: 87.714254%;
   }

   #image2 {
        width: 79.977146%;
   }

   #text5 {
        width: 87.714254%;
   }

   #text6 {
        width: 87.714254%;
   }

   #text7 {
        width: 87.714254%;
   }

   #text8 {
        width: 87.714254%;
   }

   #text9 {
        width: 87.714254%;
   }

   #image3 {
        width: 74.650743%;
        margin-top: 35px;
        margin-left: 12.790836%;
        clear: both;
        height: auto;
   }

   #image4 {
        width: 63.809945%;
        margin-top: 41px;
        margin-left: 19.070513%;
        clear: both;
        height: auto;
   }

   #text10 {
        width: 87.714254%;
        margin-top: 46px;
        margin-left: 6.25%;
        clear: both;
   }

   #text11 {
        width: 87.754801%;
        margin-top: 62.5px;
        margin-left: 6.178775%;
        clear: both;
   }

   #image5 {
        width: 60.577242%;
        margin-top: 51.5px;
        margin-left: 20.679012%;
        clear: both;
        height: auto;
   }

   #image10 {
        width: 59.991153%;
   }
}

@media only screen and (max-width: 320px) {
   #text {
        font-size: 180%;
        margin-top: 38px;
        margin-left: 6.347656%;
        clear: none;
        width: 87.717014%;
        height: auto;
        min-height: 0px;
   }

   #image {
        margin-top: 35px;
        margin-left: 7.074653%;
        clear: both;
        width: 86.3227%;
        height: auto;
   }

   #text1 {
        width: 87.717014%;
        margin-top: 34px;
        margin-left: 6.342231%;
        clear: both;
   }

   #image1 {
        width: 86.713325%;
        margin-top: 28px;
        margin-left: 7.03125%;
        clear: both;
        height: auto;
   }

   #text2 {
        width: 87.717014%;
        margin-top: 37px;
        margin-left: 6.434462%;
        clear: both;
   }

   #text3 {
        width: 87.717014%;
        margin-top: 44px;
        margin-left: 6.499566%;
        clear: both;
   }

   #text4 {
        width: 87.717014%;
        margin-top: 48px;
        margin-left: 6.347656%;
        clear: both;
   }

   #image2 {
        width: 86.854384%;
        margin-top: 29px;
        margin-left: 6.618924%;
        clear: both;
        height: auto;
   }

   #text5 {
        width: 87.717014%;
        margin-top: 33.5px;
        margin-left: 6.125217%;
        clear: both;
   }

   #text6 {
        width: 87.717014%;
   }

   #text7 {
        width: 87.717014%;
   }

   #text8 {
        width: 87.717014%;
   }

   #text9 {
        width: 87.717014%;
   }

   #image3 {
        width: 86.664497%;
        margin-top: 21px;
        margin-left: 6.499566%;
        clear: both;
        height: auto;
   }

   #image4 {
        width: 87.071398%;
        margin-top: 19px;
        margin-left: 6.656901%;
        clear: both;
        height: auto;
   }

   #text10 {
        width: 87.717014%;
        margin-top: 42px;
        margin-left: 6.25%;
        clear: both;
   }

   #text11 {
        width: 87.760417%;
        margin-top: 40px;
        margin-left: 6.445313%;
        clear: both;
   }

   #image5 {
        width: 86.702474%;
        margin-top: 36px;
        margin-left: 6.922743%;
        clear: both;
        height: auto;
   }

   #image6 {
        width: 87.434896%;
        margin-top: 36px;
        margin-left: 6.640625%;
        clear: both;
        height: auto;
   }

   #text12 {
        width: 87.760417%;
        margin-top: 42px;
        margin-left: 6.380208%;
        clear: both;
   }

   #text13 {
        width: 87.760417%;
        margin-top: 50px;
        margin-left: 6.217448%;
        clear: both;
   }

   #text14 {
        width: 87.760417%;
        margin-top: 50px;
        margin-left: 6.315104%;
        clear: both;
   }

   #image7 {
        width: 87.120226%;
        margin-top: 32px;
        margin-left: 6.640625%;
        clear: both;
        height: auto;
   }

   #text15 {
        width: 87.673611%;
        margin-top: 45px;
        margin-left: 7.074653%;
        clear: both;
   }

   #image8 {
        width: 86.707899%;
        margin-top: 36px;
        margin-left: 6.25%;
        clear: both;
        height: auto;
   }

   #text17 {
        width: 87.760417%;
        margin-top: 45px;
        margin-left: 6.705729%;
        clear: none;
   }

   #text16 {
        width: 53.67296%;
        margin-top: 158.5px;
        margin-left: -79.199219%;
        clear: both;
   }

   #image9 {
        width: 87.131076%;
        margin-top: 34px;
        margin-left: 6.640625%;
        clear: both;
        height: auto;
   }

   #text18 {
        width: 87.760417%;
        margin-top: 36.5px;
        margin-left: 6.054688%;
        clear: both;
   }

   #image10 {
        width: 86.523438%;
        margin-top: 30.25px;
        margin-left: 7.313368%;
        clear: both;
        height: auto;
   }

   #text19 {
        width: 87.673611%;
        margin-top: 19.5px;
        margin-left: 5.962457%;
        clear: both;
   }

   #text20 {
        width: 87.760417%;
   }

   #textspan {
        float: none;
        font-size: 130%;
        line-height: 1em;
   }

   #textspan5 {
        float: none;
        font-size: 130%;
        line-height: 1em;
   }

   #textspan8 {
        font-size: 130%;
   }

   #textspan12 {
        font-size: 130%;
        line-height: 1.4em;
   }

   #textspan17 {
        line-height: 1.4em;
        font-size: 130%;
   }

   #textspan18 {
        float: none;
        font-size: 1em;
        line-height: 1.4em;
   }

   #textspan25 {
        font-size: 130%;
   }

   #textspan27 {
        float: none;
        font-size: 130%;
        line-height: 1.4em;
   }

   #textspan35 {
        line-height: 1.4em;
        font-size: 130%;
   }

   #textspan37 {
        line-height: 1em;
        font-size: 130%;
   }

   #textspan39 {
        line-height: 1em;
   }

   #textspan40 {
        line-height: 1.4em;
   }

   #textspan38 {
        float: none;
        font-size: 130%;
        line-height: 1em;
   }

   #textspan43 {
        line-height: 1.4em;
        font-size: 130%;
   }

   #textspan45 {
        float: none;
        font-size: 1em;
        line-height: 1.4em;
   }

   #textspan44 {
        float: none;
        font-size: 1em;
        line-height: 1.4em;
   }

   #textspan52 {
        font-size: 130%;
        line-height: 1.4em;
   }

   #textspan53 {
        float: none;
        font-size: 130%;
        line-height: 1.4em;
   }

   #textspan56 {
        font-size: 130%;
   }

   #textspan65 {
        font-size: 130%;
        line-height: 1.4em;
   }

   #textspan71 {
        float: none;
        font-size: 130%;
        line-height: 1.4em;
   }
}

